:root {
    // colors
    --light-color: #E9DEFF;
    --main-color: #0B001A;
    --bg-color: #1E0044;

    // font-family
    --main-font: 'Montserrat', sans-serif;
    --george-font: 'Georgia', sans-serif;
    --graphic-font: 'Graphik', sans-serif;
}