.awards {
    background-color: var(--light-color);
    border-radius: 10px;
    color: var(--main-color);
    padding: 60px 0 40px;
    margin: 10px 0;
}
.awards-row {
    display: flex;
    flex-direction: column;
}
.awards-content--title {
    font-size: 40px;
    margin-bottom: 60px;
}
.awards-list {
    max-width: 715px;
    width: 100%;
}
.award-list--item {
    cursor: pointer;

    & + * {
        border-top: 1px solid #9585ae;
    }
    &:first-child {
        border-top: 1px solid #9585ae;
    }
    &:last-child {
        border-bottom: 1px solid #9585ae;
    }
}
.awards-item__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
}
.awards-question--img {
    transition: rotate .5s ease;
}
.awards-item__content {
    & h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 2px;
    }
    & p {
        font-weight: 400;
        font-size: 12px;
    }
}
.awards-question--img {
    width: 26px;
    height: 26px;

}
.awards-item__answer {    
    height: 0;
    overflow: hidden;
    transition: height .5s ease;
    background-color: var(--bg-color);
    color: var(--light-color);
    border-radius: 10px;

    & p {
        max-width: 600px;
        font-size: 16px;
        padding: 20px 10px;
    }
}
.award-list--item.active {
    
    & .awards-item__answer {
        height: 150px;
    }
    & + * {
        border-top: none;
    }

    &:last-child {
        border-bottom: none;
    }
    .awards-question--img {
        rotate: 90deg;
    }
}
@media screen and (min-width: 768px) {
    .award-list--item.active {
    
        & .awards-item__answer {
            height: 120px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .awards {
        padding: 60px 0;
    }
    .awards-row {
        flex-direction: row;
        justify-content: space-between
    }
    .awards-item__question {
        padding: 18px 10px;
    }
}
@media screen and (min-width: 1440px) {
    .awards-content--title {
        font-size: 50px;
    }
    .awards-item__content {
        & h3 {
            font-size: 20px;
            margin-bottom: 6px;
        }
        & p {
            font-size: 14px;
        }
    }
    .awards-item__answer p {
        font-size: 18px;
        line-height: 1.2;
    }
}