.header {
    background-color: var(--bg-color);
    margin: 10px;
    border-radius: 10px;
}

// Header Nav
.header-nav {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    border-radius: 10px;
    padding: 20px 0;
    background-color: var(--bg-color);
    transition: all 1s ease;  
}
.header-nav__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav__logo {
    transition: opacity .3s ease;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
    & img {
        display: block;
    }
}
.sidebar-list {
    position: fixed;
    top: 120px;
    left: 40px;
    transform: translateX(-200px);
    z-index: 100;
    transition: all .8s ease;
}
.sidebar-list__item {
    & + * {
        margin-top: 20px;
    }
}
.sidebar-list__item--link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-weight: 400;
    font-size: 14px;
    color: var(--light-color);
    text-transform: uppercase;
    text-decoration: none;

    & + * {
        margin-top: 10px;
    }
    & img {
        width: 11px;
        height: 11px;
    }
}
.header-nav__btn {
    display: none;
}
.header-nav__menu-btn {
    width: 35px;
    height: 35px;
    background: linear-gradient(#1E0044, #1E0044) padding-box,
    linear-gradient(to left, #B923FF, #8338EC) border-box;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(233, 222, 255, .1);
    transition: opacity .3s ease;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
    & div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }
    & span {
        width: 24px;
        height: 3px;
        background: linear-gradient(to left, #B923FF, #8338EC);
        border-radius: 4px;
    }
}
.sidebar {
}
.sidebar-closebtn {
    position: fixed;
    top: 40px;
    left: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    transform: translateX(-250px);
    z-index: 101;
    background: linear-gradient(#1E0044, #1E0044) padding-box,
    linear-gradient(to left, #B923FF, #8338EC) border-box;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 10px 5px rgba(131, 56, 236, .2);
    transition: all .8s ease;

    & img {
        width: 16px;
        height: 16px;
        rotate: 225deg;
    }
}
.sidebar-inner {
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 240px;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 8px 5px rgba(131, 56, 236, .4);
    z-index: 2;
    transform: translateX(-260px);
    transition: all .6s ease;
}
.sidebar-shade {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
}
// Header Hero
.hero {
    padding: 120px 0 40px;
}
.hero-content {
    margin-bottom: 120px;
}
.hero-content__title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    color: var(--light-color);
    margin-bottom: 10px;

    & span {
        font-weight: 600;
        font-family: var(--george-font);
        background: linear-gradient(to left, #B923FF, #8338EC);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
    }
}
.hero-content__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--light-color);
}
.hero__link {
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: var(--light-color);
}