.header {
    background-color: var(--bg-color);
    margin: 10px;
    border-radius: 10px;
}

// Header Nav
.header-nav {
    padding: 20px 0;
}
.header-nav__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav__logo {
    transition: opacity .3s ease;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
    & img {
        display: block;
    }
}
.header-nav__list {
    display: none;
}
.header-nav__item {
}
.header-nav__item--link {
}
.header-nav__btn {
    display: none;
}
.header-nav__menu-btn {
    width: 35px;
    height: 35px;
    background: linear-gradient(#1E0044, #1E0044) padding-box,
    linear-gradient(to left, #B923FF, #8338EC) border-box;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(233, 222, 255, .1);
    transition: opacity .3s ease;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
    & div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }
    & span {
        width: 24px;
        height: 3px;
        background: linear-gradient(to left, #B923FF, #8338EC);
        border-radius: 4px;
    }
}

// Header Hero
.hero {
    padding: 60px 0 40px;
}
.hero-content {
    margin-bottom: 120px;
}
.hero-content__title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    color: var(--light-color);
    margin-bottom: 10px;

    & span {
        font-weight: 600;
        font-family: var(--george-font);
        background: linear-gradient(to left, #B923FF, #8338EC);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
    }
}
.hero-content__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--light-color);
}
.hero__link {
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: var(--light-color);
}